# Additional files to be included in the source distribution package (created
# by running 'setup.py sdist'). Theoretically we could avoid having to manually
# maintain this list by using a setuptools plugin that would automatically
# include all files under Mercurial version control, but the setuptools_hg we
# tried out did not work correctly with Python 3.

# Top level project files.
include ez_setup.py
include ez_setup_1_4_2.py
include HACKING.rst
include LICENSE.txt
include TODO.txt

# Notes.
include notes/*.rst
include notes/*.txt

# Tests.
recursive-include tests *.py

# Project development & setup tools.
include tools/*.py
include tools/*.txt
recursive-include tools/suds_devel *.py

# Python 2 versions prior to some early 2.7.x release and Python 3 versions
# prior to some 3.2.x release had buggy disutils implementations that can
# result in our project's source distribution containing some extra unwanted
# files picked up from some of our local cache folders. This is a 3-layer fix
# to work around the problem:
#   1. We prune those folders just in case some of their content got added by
#      mistake.
#   2. An extra include is here to silence distutils warnings in case the used
#      distutils implementation is not buggy and therefore no extra files have
#      been added and distutils can not find anything to prune.
#   3. To make the include actually include an existing file, setup.py
#      constructs at least one such file to be included with a buggy distutils
#      implementation.
include tools/__*/*
prune tools/__*
